@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    background-color: black;
    color:white;
    font-family: Open Sans;
    font-weight:300;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    padding: 0;
    margin:0;
}

h1 {
    font-size: 4em;
    letter-spacing: 3px;
}

.blue {
    color:#1b94ff;
}

#logo {
    width: 500px;
    margin:0;
    height: 500px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#center {
    text-align: center;
    /* width: 500px; */
}