@font-face {
    font-family: Gotham Thin;
    src: url("resources/Gotham-Font/Gotham-Thin.otf") format("opentype");
}

@font-face {
    font-family: Gotham;
    src: url("resources/Gotham-Font/GothamMedium.ttf") format("opentype");
}

@font-face {
    font-family: Gotham Bold;
    src: url("resources/Gotham-Font/Gotham-Bold.otf") format("opentype");
}

:root {
    --orange: #FF8D29;
    --light-orange: rgba(255,187,127,1);
    --dark-blue: #041A2E;
    --blue: #0e4a80;
    /* --light-blue: #1b94ff; */
    --light-blue: #176bb7;
    --white: #F1F5F9;
    --dark-gray: #1e2124;
    --light-gray: #b1b1b1
}

body {
    background-color: black;
    color:white;
    font-family: Inter;
    padding: 0 !important;
    margin:0 !important;
    width: 100%;
    background: rgb(0,0,0);
    background: radial-gradient(circle at top , rgb(0, 0, 0) 0%, rgba(0,11,20,1) 60vh, var(--dark-blue) 120vh, var(--blue) 60%, var(--dark-blue) 100%);
    position: relative;
    /* overflow-x: hidden; */
}   

#splashscreen {
    /* padding: 0 !important; */
    margin: 0;
    top: 0;
    width: 100%;
    min-height: 108vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}

#splashscreen p {
    padding: 20px;
    font-family: Gotham Thin;
    font-weight: Bold;
    padding-bottom: 0;
    font-size: 1rem;
    letter-spacing: 0.08em;
}

#splashscreen i {
    font-size: 4rem;
}

/* #splashscreen .card, #splashscreen h4 {
    text-align: center !important;
} */

h1 {
    font-size: 4em;
    letter-spacing: 0.08em;
    font-family: Gotham, sans-serif;
    margin:0;
    padding:0;
    vertical-align: center;
}

h2 {
    font-family: Gotham Bold, sans-serif;
    font-size: 8em;
    line-height: 1em;
    margin: 0;
}

h3 {
    font-family: Gotham Thin, sans-serif;
    font-size: 2em;
    line-height: 1.5em;
    margin:0;
    width: 100%;
    font-weight: Bold;
    text-decoration-thickness: 0.1em;
    /* text-align: start; */
    /* margin-left: 25px; */
}

p {
    margin: 50px;
}

.blue {
    color:var(--light-blue);
    border-color: var(--light-blue);
}

#logo {
    margin:0;
    padding:0;
}

.right {
    float:right;
}

#logo g {
    fill: var(--light-blue);
}

.down-triangle{
    width:0;
    border-left: 1vw solid transparent;
    border-right: 1vw solid transparent;
    border-top: 1.73vw solid;
    bottom:10vh;
    left: calc(50% - 1.73vw);
    position:relative;
}

#navbar {
    position: absolute;
    height: 4vh;
    width: 100%;
    top: 100vh;
}

ul {
    margin:0;
    padding:0;
    height:100%;
    width: 50%;
    padding: 0% 25% 0 25%;
    text-align: center;
    display: flex;
    justify-content: center;
}

ul li {
    display: inline;
    height: 100%;
    vertical-align: center;
}

.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}

.orange {
    border-color: var(--orange) !important;
    background-color: var(--orange);
    color: white;
}

.bg-white {
    border-color: var(--white) !important;
    background-color: var(--white);
    color: var(--dark-gray) !important;
}

.gray {
    background-color: #f0f1f3;
    color:var(--dark-gray) !important;
    border-color: #f0f1f3 !important;
}

.dark-gray {
    background-color: var(--dark-gray);
    color: white !important;
}

.content {
    min-height: 50vh;
    padding: 100px 10% 100px 10%;
    color:white;
    width: 100%;
    overflow-x: hidden;
}

.content p {
    font-size: 18px;
    line-height: 40px;
}

.triangle {
    background-color: transparent !important;
}

.triangle.top {
    margin-top: -8vh;
    border-bottom: 8vh solid;
}

.triangle.bottom {
    border-top: 8vh solid;   
}

.triangle.right {
    border-left: 99vw solid transparent !important
}

.triangle.left {
    border-right: 99vw solid transparent !important
}

#footer {
    width: 100%;
    padding: 50px 10% 50px 10%;
    color:black;
    margin: 0;
}

a {
    text-decoration: underline !important;
    color:white;
}

#footer table {
    display: inline;
}
#footer p {
    margin: 10px !important;
    
}

h5 {
    font-size: 18px;
    /* margin: 20px 0 10px 0px; */
}

.contact_info i {
    height: 60px;
    width: 60px;
    margin: 20px;
    font-size: 22px;
    border-radius: 50%;
    line-height: 60px;
    display: inline-block;
    box-shadow: 0 0px 0px 10px rgb(255 255 255 / 33%);
    background-color: #fff;
}

.text-custom {
    color: var(--light-blue) !important;
}

.contact_info_main {
    padding: 50px;
}

.bg-gradient {
    background: #f47a65;
    background: -webkit-linear-gradient(to right, #ff4f64, #f47a65);
    background: linear-gradient(to right, #f47a65, #ff4f64);
}

.dark-blue {
    background-color: var(--dark-blue);
    color: white !important;        
}

.university {
    width: 500px;
    margin: 20px;
    filter: grayscale(100%) invert(0%);
}

span.orange {
    color:var(--orange);
    background-color: transparent;
}

#cards {
    display: none;
    display:flex; 
    justify-content: center; 
    flex-direction: column;
}

#sticky {
    display: block;
    top: 0;
    min-width: 700px; 
    width:50%; 
    position:sticky; 
}


/* @media only screen and (min-width: 1500px) {
    #cards {
        display: block;
    }

    #sticky {
        position:sticky; 
        position: -webkit-sticky;
    }
}

@media only screen and (max-width: 1500px) {
    #cards {
        display: none;
    }

    #sticky {

        position:static;
    }
} */

.bg-blue {
    background-color: var(--light-blue)
}

/* .card {
    width: 100%;
    min-height: 30vh;
    line-height: 30px;
     border-radius: 10px; 
    color:var(--dark-gray);
    background-color: white;
    box-shadow: 5px;
    margin: 100px 20px 100px 20px;
} */

.card {
    margin: 30px;
    /* margin: 100px 20px 100px 20px; */
}

.card-content {
    display: flex;
    vertical-align: middle;
    height: 100%;
    padding: 40px;
}

.card p {
    font-size: 20px;
    margin:0;
}
header {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
    /* opacity: 0.7; */
    /* border-radius: 10px 10px 0px 0px; */
    padding: 20px 40px 20px 40px;
    width:100%;
    color: white;
    font-family: Gotham Bold;
    font-size: 20px;
}

.flex {
    margin-top: 50px;
    display: flex;
    /* align-items: distribute; */
    justify-content: space-between;
}

.fade-in-section {
    animation: fadeIn 2s
}

@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.indent {
    margin-left: 50px;
    border-left: 1px solid var(--light-blue);
    padding-left:50px;
}

.seperator {
    display:block;
    height:0;
    width: 200px;
    border: 20px solid;
    margin: 50px 25px 50px 25px;
}

.flex{
    display: flex;
    margin:0;
}

button {
    display: inline-flex !important;
    align-items: center !important;
    font-size: 30px;
    font-family: Gotham Bold;
    height: 75px;
    padding: 30px;
    font-weight: bold;
    text-decoration: none !important;
    border: none;
}

button.empty {
    background-color: rgba(0,0,0,0);
    border: 5px solid;
}

button.filled {
    
}

button.filled:hover {
    opacity: 0.5
}

button.empty:hover{
    transition: 0.3s;
    background-color:var(--light-blue); 
    color:white;
    cursor:pointer;
}

td {
    vertical-align: top;
}

.form-field-2.dark {
    background-color: #252525;
    color: #fff;
    border: black;
}

.form-field-2 {
    height: 40px;
    margin-bottom: 20px;
    border-style: none;
    border-radius: 5px;
    background-color: #f7f7f7;
    font-family: Inter,sans-serif;
    color: #333;
    font-size: 14px;
}


input {
    width:100%;
    line-height: normal;
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    background-color: rgb(59, 59, 59);
    cursor: text;
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    display: block;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.42857143;
    vertical-align: middle;
    color: #333;
}

input[type=submit] {
    background-color: #252525;
    color: #757575;
    font-family: Inter;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    width: auto;
    height: auto;
    cursor: pointer;
}

.contact-form {
    width:100%;
    display:flex;
    margin: 50px 0 25px 0;
    justify-content: space-between;
}

.form-label-2.dark {
    color: #9b9b9b;
}

.form-label-2 {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-family: Inter,sans-serif;
    color: #5c5c5c;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: none;
}

.contact-form div {
    width: 35vw;
}

.alert {
    width: 100%;
    background-color: var(--orange);
    font-size: 20px;
    cursor: pointer;
    color: white;
    margin:0;
    padding: 10px 10% 10px 10%;
    text-decoration: underline;
}

* {
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

.about-wide {
    overflow-x: 0;
    padding: 0;
    display: flex;
}

.wide {
    width: 100%;
    display: block;

}

.tall {
    height: 100%;
}

.universities {
    width:100%;
    justify-content:space-evenly;
    padding: 50px 10% 100px 10%;
    justify-content: space-around;
    flex-wrap: wrap;
    color: black;
}

.universities h3 {
    margin-bottom: 50px;
    font-family: Gotham Bold;
    font-weight: Bold;
}

#cityImage {
    max-width: 35vw;
    max-height: 100vh;
    object-fit: cover;
    margin-left: 10vw;
    float:right;
    /* margin: 0 -10vw 0 10vw; */
    border-radius: 10px 0px 0px 10px;
}

.vertical-align{
    display: flex;
    align-items: center;
}

.center {
    display: inline-flex;
    flex-wrap: wrap;
    /* align-items: center; */
    justify-content: center;
}

.pfp {
    width: 300px;
    height: 300px;
    display: block;
    color:white;
    overflow-y: hidden;
    background-size: cover;
    background-blend-mode: saturation;

}

.pfp-content {
    height: 100%;
    width:100%;
    text-align:center;
    padding: 20px;
    opacity: 0.80;
    color:white;
}

.pfp-content:hover {
    transition: 0.1s ease-in-out;
    color:rgba(0,0,0,0);
    background-color: rgba(0,0,0,0);
    
}

#pfps {
    border-spacing: 50px;
    border-collapse: separate;
}

.pfp-content p {
    margin: 0;
    margin-top: 20px;
    line-height:25px;
    text-align: left;
    display: block;
}

.pfp h4 {
    text-align: left;
}

h4 {
    width: 100%;
    margin:0;
    font-size: 20px;
    font-family: Gotham Bold;
    /* text-align: left; */
}

.email {
    margin-top: 10px;
    float: left;
    height: 40px;
    position: relative;
    top: 20px;
    /* bottom: 0px; */
}

.blue-gradient {
    background: rgb(4,26,46);
    background: linear-gradient(135deg, rgba(4,26,46,1) 0%, rgba(14,74,128,1) 100%);
    color: white !important;
    /* background-size: cover; */
}

.orange-gradient {
    background: rgb(255,187,127);
    background: linear-gradient(135deg, var(--light-orange) 0%, rgba(255,141,41,1) 100%);
}

.orange-gradient.left {
    background: linear-gradient(135deg, rgba(255,141,41,1) 0%, var(--light-orange) 100%);
}

    /* .content p {
        display: inline-block;
        width: 60%;
    } */

.box {
    display: inline-block;
    width: 600px;
    height: 600px;
}

.box.left {
    border-radius: 0 20px 20px 0;
}

.box.right {
    /* margin-right: -10vw; */
    border-radius: 20px 0 0 20px;
}

#about .wide {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}

.side-text {
    padding: 100px;
    display: inline-block;
    width: 65rem;
    /* width: 50vw; */

}

#about p {
    margin-left: 0;
}

.marquee {
    width: 100%;
    overflow: hidden;
    padding: 50px;
    padding-bottom: 100px;
}

.marquee-content {
    height: 100px;
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding: 0;
    animation: scrolling 30s linear infinite;
}

.marquee-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: calc(100vw / 6);
    flex-shrink: 0;
}

.integration-logo {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100%;
    flex-shrink: 0;
    filter: grayscale(100%);
}

@keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translatex(-100vw); }
}

.subtle {
    font-size: 55px!important;
    margin: 50px 0 50px 0!important;
    width: 100%!important;
    text-align: center !important;
    color: var(--light-gray) !important;
}